body {
  background-color: blueviolet;
}

#tablet, #desktop {
  display: none;
}


@media screen and (min-width: 480px) {
  body {
    background-color: red;
  }
  #tahvel {
    display: block;
  }
  #mobile, #dekstop {
    display: none;
  }
}

@media screen and (min-width: 970px) {
  body {
    background-color: lightblue;
  }

  #desktop {
    display: block;
  }
  
  #mobile, #tablet {
    display: none;
  }
}