* {
  box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
  .paiskonteiner {
    background-image: url('./Canvas/Hills@2x.png');
}
}

@media screen and (max-width: 480px) {
  .pais-menyy li{
    float: none;
    text-align: center;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.paiskonteiner {
  background-image: url('./Canvas/Hills.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 31.94px;
  width: 100%;
  height: 778px;
}

.pais-logo {
  height: 64px;
  width: 66.72px;
  letter-spacing: 0px;
  color: #0b0b0b;
}

.pais-nimi {
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 800;
  width: 100px;
  line-height: 33px;
}

.pais-menyy {
  letter-spacing: 2.67px;
  padding:15px 17px;
  text-transform: uppercase;
  justify-content: flex-end;
}

.pais-menyy li{
  float:left;
  list-style: none; 
  margin: 13px 20px;
  letter-spacing: 2.67px;
}

.pais-menyy a {
  color: black;
  font-size: 16.67px;
  font-weight: 800;
}

.rida {
  color: #0b0b0b;
  text-transform: uppercase;
  font-weight: 800;
  justify-content: space-between;
}

.rida h2 {
  font-size: 39.57px;
  font-weight: 800;
}

.rida h1 {
  font-size: 74.39px;
  font-weight: 800;
}

.rida h3 {
  font-size: 20.83px;
  font-weight: 800;
}

.pealkiri-tekstid {
  padding-top: 231px;
}

.liblikas1 {
  width: 75px;
  height: 66px;
  margin-top: -32px;
}

img {
  vertical-align: middle;
}