* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

html {
font-family: 'Roboto', sans-serif; 
background-color: rgb(0, 0, 0); 
font-size: 1rem; 
letter-spacing: 0.03em;
}

header {
  width: 100%;
  height: 200px;
  background-color: rgb(170, 4, 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header_picture {
width: 150px;
height: 110px;
}

aside {
  width: 30%;
  background-color: blue;
  min-height: 400px;
}

section {
  width: 70%;
  background-color: rgb(11, 231, 231);
  min-height: 400px;
}

footer {
  width: 100%;
  background-color: green;
  min-height: 100px;
  display: flex;
}

.sisuala {
  display: flex;
}

aside img {
  width: 90%;
}

header nav a {
  margin-left: 15px;
  font-size: 1.5rem;
}

.columns {
  display: flex;
}

.columns .half {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.half img {
  width: 100%;
}

footer img {
  width: 50%;
}

footer .half_footer {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
}